{% load static %} 
 
  <!-- Modal Passwort Dialog-->
  <div class="modal fade" id="caption_modal" tabindex="-1" role="dialog" aria-labelledby="modalCaption" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Change caption</h4>
        </div>
        <div class="modal-body" id="browsefield">
        	<div class="form-group">
        		<p class="help-block">Default caption: {{default_caption}}</p>
				<input id="caption_field" class="form-control" name="caption_field" value="{{current_caption}}" style="width: 90%;">
				<input id="job_id" type="hidden" name="job_id">
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" name="applyBtn" id="applyBtn">Set Caption</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
<script>
	$(document).ready(function(){
		
		$('#applyBtn').on('click', function(){
			var data = {'caption':$('#caption_field').val(),
					'tool': '{{history_object.tool}}' };
			var url = '{% url 'history:generate-caption' history_object.id 1%}';
			$.post(url, data, function(resp){
				$('#result_caption').text(resp);
				document.title = resp;
			});

			$('#caption_modal').modal('hide');
			
		});
		
	});    

</script>
