{% load static %} 
 


<div class="col-md-4" style="{{visible}} padding:10px;">
	<a rel="gallery1" class="thumbnail fancybox" href="{{PREVIEW_URL}}{{preview}}" title="{{imgname}}" >
		<img data-original="{{PREVIEW_URL}}{{preview}}" class="lazy" style="width:100%;"/>
<!--		
		<div class="caption">
        	<p style="word-wrap:break-word;">{{imgname}}</p>
        </div>
-->
	</a>
</div>


<!--

<li class="file ext_png">
	<a rel="gallery1" class="fancybox" href="{% get_static_prefix %}img/test/1_correlation_master.png" title="{{imgname}}">{{imgname}}</a>
</li>


<a rel="gallery1" class="thumbnail fancybox" href="{% get_static_prefix %}img/test/1_correlation_master.png" >
		<img src="{% get_static_prefix %}img/test/1_correlation_master.png" width="100px" style="col-md-2"/>
</a>
-->
