{% load static %} 
{% load dialogtags %}
 
 <!-- Beware that this is not part of the dialog! -->   
 <div class="alert alert-success" role="alert" id='alert_send_success' style='display:none'>
    <button type="button" class="close" onclick="$('#alert_send_success').hide();">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span id="span_send_success"></span>
 </div> <!-- alert success -->       

<!-- Beware that this is not part of the dialog! -->   
 <div class="alert alert-danger" role="alert" id='alert_send_failed' style='display:none'>
    <button type="button" class="close" onclick="$('#alert_send_failed').hide();">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span id="span_send_failed"></span>
 </div> <!-- alert failed -->       
  
  <!-- Modal Sendmail Dialog-->
  <div class="modal fade" id="sendmail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Send email to MiKlip users</h4>
        </div>
        <div class="modal-body" id="browsefield">
        	<div class="form-group">
        		<p class="help-block">Select user to mail to</p>
			<input type="hidden" id="myurl" name="myurl" value='{{url}}'>
                       {% mailfield is_guest %}
			<p class="help-block">Message:</p>
			<textarea class='form-control' id="user_text" name="user_text" rows=3></textarea>
		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" name="sendBtn" id="sendBtn">Send</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<script>
	$(document).ready(function(){
		
		$('#sendBtn').on('click', function(){
			sendmail();
		});
		
	});    


{% if is_guest %}
	function sendmail() {
		$('#status_div').html("<font color='red'>No email has been sent, because you are a guest user</font>")
		$('#mail_to_field').select2("val", "")
        }
{% else %}
        function sendmail() {
		var data = {'url': $('#myurl').val(),
                            'rec' : $('#mail_to_field').val(),
                            'text' : $('#user_text').val(),
                            'action' : 'results'};
		var url = '{% url 'history:sendMail' %}';
		var self = this;
		var success = ""
		var failed = ""
		
		$.post(url, data, function(resp){
		  var lines = resp.split("\n");
		  
		  for (var i = 0; i < lines.length; ++i) {
		      if (lines[i].indexOf("failed!") != -1) {
                          if(failed != "") {
                              failed += "<br>";
                          }
		          failed += lines[i];
		      }
		      else {
                          if(success != "") {
                              success += "<br>";
                          }
		          success += lines[i];
		      }
		  }
		  $('#span_send_success').html(success);
		  $('#span_send_failed').html(failed);
		  
		  if(success != "") {
		      $('#alert_send_success').show();
		  }
                  else {
		      $('#alert_send_success').hide();
                  }
		  if(failed != "") {
		      $('#alert_send_failed').show();
		  }
                  else {
		      $('#alert_send_failed').hide();
                  }
		});
		$('#mail_to_field').select2("val", "");
		$('#sendmail_modal').modal('toggle');	
        }
{% endif %}
</script>
  
<!--
<script>

	var cancelDialog;
	cancelDialog = cancelDialog || (function () {
	        return {
		        show: function(id, errormsg=false) {
		            $('#job_id').val(id);
					console.log(id);
					if(errormsg)
						$('#wrongPw').show();
					else
						$('#wrongPw').hide();
					$('#password_temp').val('');
					$('#password_temp').focus();
					$('#waitingCancel').hide();
					$('#browsefield').show();
					$('#submitCancelBtn').button('reset');
			    	$('#myModalPw').modal('show');
		        },
		        process: function () {
		            var jobId = $('#job_id').val();
					$('#waitingCancel').show();
					$('#browsefield').hide();
					$('#submitCancelBtn').button('loading');
					
					var data = {'id':jobId, 'password':$('#password_temp').val()};
					var url = '{% url 'history:cancelSlurmjob' %}';
					var self = this;
					$.post(url, data, function(resp){
						if(resp == 'wrong password'){
							self.show(jobId,true);
						}else{
							 $('#myModalPw').modal('hide');
							 window.location.href=window.location.href;
						}
					});
		        },
	
	    	};
	})();
    
	$(document).ready(function(){
		
		$('#submitCancelBtn').on('click', function(){
			cancelDialog.process();
			
		});
		
	});    

	// simulate click on submit when enter is pressed
	$('#password_temp').keypress(function (e) {
		if (e.which == 13) {
			$('#submitCancelBtn').click();
			return false;
	  	}
	});
</script>
-->
