{% load static %} 
{% load dialogtags %}
 
  <!-- Modal Sendmail Dialog-->
  <div class="modal fade" id="sendmail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Send email to MiKlip users</h4>
        </div>
        <div class="modal-body" id="browsefield">
        	<div class="form-group">
        		<p class="help-block">Select user to mail to</p>
			<input type="hidden" id="myurl" name="myurl" value='{{url}}'>
                       {% mailfield is_guest %}
			<p class="help-block">Message:</p>
			<textarea class='form-control' id="user_text" name="user_text" rows=3></textarea>
		</div>
        </div>
        <div class="modal-body" id='status_div'>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" name="sendBtn" id="sendBtn">Send</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<script>
	$(document).ready(function(){
		
		$('#sendBtn').on('click', function(){
			sendmail();
			
		});
		
	});    


{% if is_guest %}
	function sendmail() {
		$('#status_div').html("<font color='red'>No email has been sent, because you are a guest user</font>")
		$('#mail_to_field').select2("val", "")
        }
{% else %}
        function sendmail() {
		var data = {'url': $('#myurl').val(),
                            'rec' : $('#mail_to_field').val(),
                            'text' : $('#user_text').val(),
                            'action' : 'results'};
		var url = '{% url 'history:sendMail' %}';
		var self = this;
		$.post(url, data, function(resp){
                                                         $('#status_div').html(resp)
					});
		$('#mail_to_field').select2("val", "")
        }
{% endif %}
</script>
  
<!--
<script>

	var cancelDialog;
	cancelDialog = cancelDialog || (function () {
	        return {
		        show: function(id, errormsg=false) {
		            $('#job_id').val(id);
					console.log(id);
					if(errormsg)
						$('#wrongPw').show();
					else
						$('#wrongPw').hide();
					$('#password_temp').val('');
					$('#password_temp').focus();
					$('#waitingCancel').hide();
					$('#browsefield').show();
					$('#submitCancelBtn').button('reset');
			    	$('#myModalPw').modal('show');
		        },
		        process: function () {
		            var jobId = $('#job_id').val();
					$('#waitingCancel').show();
					$('#browsefield').hide();
					$('#submitCancelBtn').button('loading');
					
					var data = {'id':jobId, 'password':$('#password_temp').val()};
					var url = '{% url 'history:cancelSlurmjob' %}';
					var self = this;
					$.post(url, data, function(resp){
						if(resp == 'wrong password'){
							self.show(jobId,true);
						}else{
							 $('#myModalPw').modal('hide');
							 window.location.href=window.location.href;
						}
					});
		        },
	
	    	};
	})();
    
	$(document).ready(function(){
		
		$('#submitCancelBtn').on('click', function(){
			cancelDialog.process();
			
		});
		
	});    

	// simulate click on submit when enter is pressed
	$('#password_temp').keypress(function (e) {
		if (e.which == 13) {
			$('#submitCancelBtn').click();
			return false;
	  	}
	});
</script>
-->
