conda activate freva-web
conda env config vars set EVALUATION_SYSTEM_CONFIG_FILE=$PWD/docker/local-eval-system.conf
conda env config vars set EVALUATION_SYSTEM_DRS_CONFIG_FILE=$PWD/docker/drs_config.toml
conda env config vars set EVALUATION_SYSTEM_PLUGINS=$PWD/dummy_plugin,dummy
conda env config vars set DEV_MODE=1
conda deactivate
conda activate freva-web
