{
  "parser": "@babel/eslint-parser",
  "plugins": ["react", "promise", "import"],
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React", // Pragma to use, default to "React"
      "version": "16.8" // React version, default to the latest React stable release
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:promise/recommended"
  ],
  "rules": {
    "no-prototype-builtins": "off",
    "no-path-concat": "warn",
    "no-self-compare": "warn",
    "object-shorthand": "warn",
    "dot-notation": "warn",
    "consistent-return": "warn",
    "no-useless-escape": "off",
    "no-return-await": "error",
    "no-await-in-loop": "error",
    "no-async-promise-executor": "error",
    "prefer-object-spread": "warn",
    "require-atomic-updates": "error",
    "prefer-promise-reject-errors": "warn",
    "no-shadow-restricted-names": "error",
    "no-useless-concat": "warn",
    "no-useless-computed-key": "warn",
    "yoda": [
      "error",
      "never",
      {
        "exceptRange": true
      }
    ],
    "array-callback-return": "warn",
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "promise/no-promise-in-callback": "off",
    "no-duplicate-case": "error",
    "no-constant-condition": "error",
    "dot-location": ["error", "property"],
    "func-style": [
      "error",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "no-lonely-if": "error",
    "use-isnan": "error",
    "react/jsx-boolean-value": "error",
    "import/extensions": "error",
    "import/no-amd": "warn",
    "import/no-self-import": "warn",
    "import/named": "warn",
    "import/default": "warn",
    "import/no-absolute-path": "warn",
    "import/no-extraneous-dependencies": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "index",
          "internal",
          "parent",
          "sibling"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/newline-after-import": "warn",
    "react/sort-comp": [
      "warn",
      {
        "order": [
          "stat",
          "lifecycle",
          "static-methods",
          "everything-else",
          "render"
        ],
        "groups": {
          "stat": ["state", "props"]
        }
      }
    ],
    "react/no-array-index-key": "warn",
    "react/no-did-mount-set-state": "off",
    "react/jsx-first-prop-new-line": "warn",
    "react/jsx-no-bind": "off",
    "react/no-deprecated": "warn",
    "react/display-name": "off",
    "eqeqeq": "warn",
    "no-var": "warn",
    "prefer-const": "warn",
    "no-console": "warn",
    "no-param-reassign": "warn",
    "no-throw-literal": "warn",
    "object-property-newline": [
      "warn",
      {
        "allowAllPropertiesOnSameLine": true
      }
    ],
    "curly": [
      "warn",
      "all"
    ]
  }
}
