*.pyc
*.db
*.log
bump.py
virt
static_root/img/favicon.svg
freva_web.conf
docker/databrowser_api_config.toml
db
node_modules
venv/*
conda/*
evaluation_system.conf

.*
!.ci
!.gitignore
!.github
!.envrc

static/preview/*
tail/*
python=*/
activate_web
static/*
assets/bundles/*
webpack-stats.json
base/migrations/*

