# LDAP for Django (version 1.2.6)
djangorestframework
requests
paramiko
django-auth-ldap
webpack_loader
django-debug-toolbar
#installed version 0.8.3
django-datatable-view-compat
#django-datatable-view
#git+https://github.com/pivotal-energy-solutions/django-datatable-view.git
#send templated mails
django-templated-email
#git+https://github.com/BradWhittington/django-templated-email.git
django_compressor
django-bootstrap3
django-model-utils
# Testing
django-discover-runner
