{% extends "_layouts/menu.html" %}

{% block page_title %}Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}


<!-- Show an error message after accessing a protected page -->
{% if login_failed %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger">
				<p> Wrong user name or password. </p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if request.GET.login_required %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger">
				<p> Please, login to access the requested page. </p>
			</div>
		</div>
	</div>
</div>
{% endif %}


<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><img src="{{ STATIC_URL }}img/miklip-logo.jpg"/></h1>
        <p>Welcome to the BETA version of the web interface to the MiKlip Evaluation System developed by INTEGRATION</p>
        <p><a href="https://code.zmaw.de/projects/miklip-d-integration/wiki" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      
      <div class="col-lg-4">
          <h2>MiKlip</h2>
          <p>
          	The German research project "MiKlip - Decadal Predictions" aims to develop a system for climate predictions for up to a decade ahead.
          	The system is based on the MPI-M Earth System Model (MPI-ESM) from the Max Planck Institute for Meteorology in Hamburg.	
          </p>
          <p><a class="btn btn-default" href="http://fona-miklip.de/en" target="_blank">View details &raquo;</a></p>
       </div>
       
        <div class="col-lg-4">
          <h2>INTEGRATION</h2>
          <p>
          	The INTEGRATION project provides a standardized data and evaluation system for application within the MiKlip system. 
			The evaluation system provides efficient and comprehensive access to the model data base as well as to evaluation data sets. 
			The application system is developed as an easy to use low-end application minimizing technical requirements for users 
			within MiKlip and potential end users outside of MiKlip.
		  </p>
          <p><a href="http://fona-miklip.de/en/332.php" target="_blank" class="btn btn-default">View details &raquo;</a></p>
        </div>
        
        <div class="col-lg-4">
          <h2>Imprint</h2>
          <p>
          	MiKlip - INTEGRATION<br/>
          	Institut für Meteorologie<br/>
			Carl-Heinrich-Becker-Weg 6-10<br/>
			12165 Berlin<br/>
			Contact:<br/>
			christopher.kadow@met.fu-berlin.de<br/>
			sebastian.illing@met.fu-berlin.de<br/>
			oliver.kunst@met.fu-berlin.de<br/>
		</p>
        </div>
      </div>

      <hr>

{% endblock %}
