{% extends "_layouts/menu.html" %}

{% block page_title %}Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% load settingstags %}
{% bootstrap_javascript %}


<!-- Show an error message after accessing a protected page -->
{% if login_failed and not request.GET.login_required%}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger">
				<p> Wrong user name or password. </p>
			</div>
		</div>
	</div>
</div>

{% if next %}
<script type="text/javascript">
$('document').ready(function() {
// assig next parameter
$("#next_page").val("{{next}}");
});
{% endif %}

{% else %}
<script type="text/javascript">
$('document').ready(function() {
// assig next parameter
{% if next %}
$("#next_page").val("{{next}}");
{% elif guest_login %}
restartTour();
{% endif %}
});
{% endif %}
</script>
{% if request.GET.login_required %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger">
				<p> Please, login to access the requested page. </p>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="container">
<!-- Slider (Parallax Slider) -->
       <div class="row">
         <div class="col-md-12">     
            <div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Start analyses</h2>
					<p>You can easily start all analysis in the evaluation system online. Just fill out the form a click "Run".</p>
					<div class="da-img"><img src="{{ STATIC_URL }}img/parallax/1.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>View results</h2>
					<p>When the results are ready, you can click through the plots directly on the webpage. </p>
					<div class="da-img"><img src="{{ STATIC_URL }}img/parallax/2.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>View history</h2>
					<p>In the history section you can see all analysis you have done. You can also view and edit the configuration.</p>
					<div class="da-img"><img src="{{ STATIC_URL }}img/parallax/3.png" alt="image01" /></div>
				</div>

				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
        </div>
        </div>  
            <!-- Slider ends -->
	<div class="bor"></div>
	
	<!-- Service starts -->
            
            <div class="services">
                  <div class="row">
                     <div class="col-md-6">
                     
                        <!-- Service #1 -->
                        <div class="service">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="glyphicon glyphicon-search"></i> {% settings_val 'HOMEPAGE_HEADING'%}</span></h5>
                           <p>{% settings_val 'HOMEPAGE_TEXT'%}</p>
                        </div>
                        
                     </div>
                     <div class="col-md-6">
                     
                        <!-- Service #2 -->
                        <div class="service">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="glyphicon glyphicon-search"></i> Freva - Freie University Evaluation System </span></h5>
                           <p>
                           The MiKlip INTEGRATION project provides a 
                           standardized data and evaluation system framework - 
                           developed at the Freie University Berlin in Germany. 
                           Freva provides efficient and comprehensive access to 
                           the model data base as well as to evaluation data 
                           sets. The application system is developed as an easy 
                           to use low-end application minimizing technical 
                           requirements for users and tool developers. 
							</p>
                        </div>                     
                        
                     </div>

                  </div>
            </div>
            
            <!-- Serivce ends -->


  </div>
  
  <!-- Modal Guest Dialog-->
  <div class="modal fade" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="guestModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Guest login</h4>
        </div>
        <div class="modal-body" id="guest_text">
          	
        	<div class="form-group">
        		<p class="help-block">Dear Guest,</p>
        		<p class="help-block">welcome to the MiKlip homepage! 
        		You certainly have restricted permissions and not access to all features of this homepage.
        		</p>
        		<p class="help-block">
                        We invite you to explore the homepage and the evaluation system. Enjoy the browsing!
                        </p>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
 
<script type="text/javascript">
			$(function() {
				console.log('test');
				$('#da-slider').cslider({
					autoplay	: true,
					interval : 6000
				});
			
			});
		</script>	
{% endblock %}
