{% extends "_layouts/menu.html" %}

{% block page_title %}Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

{% load bootstrap3 %}

{% bootstrap_javascript %}


<div class="container">
<div class="row">
<div class="col-md-12">

        	<h1>Restart</h1>
          <p>Would you like to restart the web server?</p>
          <form action="restart" method="post" name="plugin_form" id="plugin_form">
          	{% csrf_token %}		
			
		<input name="restart" type="hidden" value="1">
			
	        <button class="btn-lg btn-primary btn-block btn" id="restart" type="submit">
	                        Restart
	          </button>
	  </form>
</div>
</div>
</div>



{% endblock %}
