{% extends "_layouts/menu.html" %}

{% block page_title %}Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}


<!-- Show the wiki page in an iFrame -->
<iframe src="https://code.zmaw.de/projects/miklip-d-integration/wiki"  id="iframe" width="100%" height='100px'>
Your browser does not support embedded frames.

Click <a href="https://code.zmaw.de/projects/miklip-d-integration/wiki">here</a> to open the wiki. 
</iframe>

<script>
// resize iframe to display area
 $(function() {
   window.updateIframe = function() {
     var h = $("#maincontent").height();
     $("#iframe").height(h);
   }
   window.updateIframe();
   window.resizeTo(window.updateIframe);
 });
 </script>


{% endblock %}
