{% extends "_layouts/menu.html" %}

{% block page_title %}Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}


<div class="container">
<div class="row">
<div class="col-md-12">
<!-- Show the wiki page in an iFrame -->
<iframe  class="col-md-12" style="height:1000px;border:none;padding:0" src="{{page}}"  id="iframe">
Your browser does not support embedded frames.

Click <a href="https://code.zmaw.de/projects/miklip-d-integration/wiki">here</a> to open the wiki. 
</iframe>
</div>
</div>
</div>

<script>
// resize iframe to display area
 $(function() {
   window.updateIframe = function() {
     var h = $("#maincontent").height();
     $("#iframe").height(h);
   }
//   window.updateIframe();
//   window.resizeTo(window.updateIframe);
 });
 </script>


{% endblock %}
