{% extends "_layouts/menu.html" %}
{% block page_title %}Data Browser - Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

{% load custom_filters %}
{% load solr_dialogs %}

<style>
UL.jqueryFileTree LI {
	white-space:normal;
}

html.wait, html.wait * { cursor: wait !important; }

.tooltip-inner {max-width:750px; !important; }


body .modal-dialog{
   width: 80%;
   max-width:1200px;
}
.ncdump {
   cursor: pointer;
}

.hidden {
	display: none;
}

</style>

<script src="{{ STATIC_URL }}js/react-with-addons-0.11.2.js"></script>
<script src="{{ STATIC_URL }}js/JSXTransformer-0.11.2.js"></script>
<script src="{{ STATIC_URL }}js/metadata.js"></script>
<script src="{{STATIC_URL}}jsx/databrowser.jsx" type="text/jsx"></script>

<div class="container" id="databrowser_main"></div>

<script type="text/jsx">
/** @jsx React.DOM */
React.renderComponent(
  <DataBrowser url="{%url 'solr:solr_search' %}"/>,
  document.getElementById('databrowser_main')
);
</script>

{% ncdump_dialog %}


{% endblock %}
