{% extends "_layouts/menu.html" %}
{% block page_title %}Data Browser - Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

{% load custom_filters %}
{% load solr_dialogs %}

<style>
UL.jqueryFileTree LI {
	white-space:normal;
}

html.wait, html.wait * { cursor: wait !important; }

.tooltip-inner {max-width:750px; !important; }


body .modal-dialog{
   width: 80%;
   max-width:1200px;
}
.ncdump {
   cursor: pointer;
}

</style>

<script src="{{ STATIC_URL }}js/data_browser.js?{% now "U" %}"></script>

<script>
	$(document).ready(function(){
		$('#collapseFiles').on('click',function(e){
		    var target = $(e.target);
		    if(!target.hasClass('ncdump'))
		        return false;
		    ncdumpDialog.show();
		    console.log($(e.target).next().html());
		    $('#ncdump_file').val($(e.target).next().html());
		});
		//init files 
		//data_browser.get_files();
		//data_browser.clear_facets();
		//init tooltips
		//$('.facet_click').tooltip();
	});
	$(document).on('click','a',function(el){
		if($(el.target).hasClass('facet_click')){
			//$('#myModal').modal('show');
			//wait_dialog.showPleaseWait();
			//$('body').css('cursor','wait');
			$('html').addClass('wait');
			function rest_click(){
			   var facet = $(el.target).attr('data-facet');
			   var value = $(el.target).html();	
			   $('.facet_click').tooltip('hide');
			   data_browser.add_facet(facet,value);
			   data_browser.get_files();
			   $('#collapse'+facet).collapse('toggle');
			   $('#collapseFiles').collapse('show');
			   $('html').removeClass('wait');
			}
			setTimeout(function(){rest_click()},50);
			//wait_dialog.hidePleaseWait();
			//$('body').css('cursor','auto');
			return false;
		}else if($(el.target).parent().hasClass('facet_remove')){
			//wait_dialog.showPleaseWait();
			//$(el.target).css('cursor','wait');
			$('html').addClass('wait');
			function rest_remove(){
			var facet = $(el.target).parent().attr('data-facet');
			   $('.chosen_facet').tooltip('hide');
			   data_browser.remove_facet(facet);
			   data_browser.get_files();
			   $('#collapse'+facet).collapse('toggle');
			   $('#collapseFiles').collapse('show');
			   $('html').removeClass('wait');
			}
			setTimeout(function(){rest_remove()},50);
			//$('html').removeClass('wait');
			//wait_dialog.hidePleaseWait();
			return false;

		}else if($(el.target).hasClass('facet_clear')){
			//wait_dialog.showPleaseWait();
			$('html').addClass('wait');
			function rest_clear(){
			   data_browser.clear_facets();
			   data_browser.get_files();
                           $('#collapseFiles').collapse('show');
			   $('html').removeClass('wait');
			}
			 setTimeout(function(){rest_clear()},50);
			//wait_dialog.hidePleaseWait();
                        return false;
		}
	});	

</script>

<!-- Modal 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
-->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
        	<h1>Data-Browser</h1>
	</div>
      </div>
      <div class="row">
	<div class="col-md-12">
	   <div class="panel panel-default" style="display:none;">
		  <div class="panel-body" id="facet_selected2">
    			<a href="#" class="facet_clear">Clear all</a>	
		  </div>
	   </div>

	</div>
      </div>

	<div class="row">
        <div class="col-md-12">
  <div class="panel-group" id="accordion">    
	{% for facet,facet_list in facets.iteritems %}
	



  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" id="heading{{facet}}">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{facet}}">
        	 {{facet}}
	</a> <span class="facet_count">(0)</span> <span class="chosen_facet"></span>
      </h4>
    </div>

  <div id="collapse{{facet}}" class="panel-collapse collapse">
      <div class="panel-body">
	<div class="row">
	</div>
	
      </div>
    </div>

  </div>	
	{%endfor%}
  	
  <div class="panel panel-default" style="display:none;">
                  <div class="panel-body" id="facet_selected">

                  </div>
           </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" id="headingFiles">
        <a data-toggle="collapse"  href="#collapseFiles">Files <span class="files_count"></span>
        </a> 
      </h4>
    </div>

    <div id="collapseFiles" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">lala</div>
	</div>

      </div>
    </div>

  </div>
 </div> <!-- end panel group -->
	</div>
      </div>



 </div>



{% ncdump_dialog %}


{% endblock %}
