{% extends "_layouts/menu.html" %}

{% block page_title %}History - Evaluation System{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-12">
          <h2>History</h2>
          
          <table class="table table-hover" id="dataTable">
          	<thead >
          	<tr>
          		<th>Row Id</th><th>Tool</th><th>Version</th><th>Timestamp</th><th>Status</th><th>&nbsp;</th>
          	</tr>
          	</thead>
          	<tbody>
          {% for h_item in history %}
          	<tr>   		
          			<td>{{h_item.id}}</td>
          			<td>{{h_item.tool}}</td>
          			<td>{{h_item.version}}</td>
          			<td>{{h_item.timestamp}}</td>
          			<td>{{ h_item.status_name }}</td>
          			<td>
          			{% if h_item.status == h_item.processStatus.finished %}
	          			<a class="btn btn-success btn-sm" href="{% url 'history:results' h_item.id %}">Show Results</a>
	          			<a class="btn btn-success btn-sm" href="#">Run again</a>
	          			<a class="btn btn-success btn-sm" href="{% url 'plugins:setup' h_item.tool h_item.id%}">Edit Config</a>
	          		{% endif %}
	          		{% if h_item.status == h_item.processStatus.running %}
	          			<a class="btn btn-success btn-sm" href="{% url 'history:results' h_item.id %}">Show Progress</a>
	          		{% endif %}
	          		{% if h_item.status == h_item.processStatus.scheduled %}
	          			<a class="btn btn-success btn-sm" href="#">Run again</a>
	          			<a class="btn btn-success btn-sm" href="{% url 'plugins:setup' h_item.tool h_item.id%}">Edit Config</a>
	          		{% endif %}
	          		{% if h_item.status == h_item.processStatus.broken %}
	          			<a class="btn btn-success btn-sm" href="{% url 'history:tailFile' h_item.id %}">Show Report</a>
	          			<a class="btn btn-success btn-sm" href="#">Run again</a>
	          			<a class="btn btn-success btn-sm" href="{% url 'plugins:setup' h_item.tool h_item.id%}">Edit Config</a>
	          		{% endif %}
	          		{% if h_item.status == h_item.processStatus.finished_no_output %}
	          			<a class="btn btn-success btn-sm" href="{% url 'history:results' h_item.id %}">Show Report</a>
	          			<a class="btn btn-success btn-sm" href="#">Run again</a>
	          			<a class="btn btn-success btn-sm" href="{% url 'plugins:setup' h_item.tool h_item.id%}">Edit Config</a>
	          		{% endif %}
          			</td>
          	</tr>
          	
          {% endfor %}	  
          </tbody>       	
          </table>	
        </div>

      </div>

      <hr>
	 </div>
<script>

$(document).ready(function() {
    $('#dataTable').dataTable({
    	"aaSorting": [[0,'desc']]
    });
} );

</script>

{% endblock %}